@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
h1{
    margin-top: 40px;
}

body {
    background-image: url(https://images7.alphacoders.com/487/487248.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(236, 239, 236);
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.container {
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    
    width: 90%;
    height: 100%;
    background-color: rgb(26, 20, 148);
    border-radius: 5px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    text-align: center;
    text-align: left;
    justify-content: space-between;
    box-shadow: 0px 10px 15px 0px rgba(146, 145, 145, 0.171);
    gap: 10px;
}

form input{
    padding-block: 10px;
}
form select{
    padding-block: 10px;
}

.buttn input{
    width: 100%;
    height: 35px;
    color: white;
    background-color: green;
    border: solid 1px green;
}

